<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&source=mailto&to=support@learnenough.com">Rails Tutorial Contact page</a>.
  To get help on this sample app, see the
  <a href="https://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
  book</a>.
</p>
